<div class="w-screen flex items-center justify-center">
    <div class="container ">
        <form [formGroup]="form" (ngSubmit)="ajouterUnProduit()" class="w-full bg-slate-300 rounded mt-2">
            <div *ngFor="let _ctrl of formMaker" class="mt-1 w-full px-4 divide-y-2">
                <ng-container [ngSwitch]="_ctrl.type">
                    <ng-container *ngSwitchCase="'select'">
                            <mat-form-field class="w-full">
                                <mat-label>{{_ctrl.name}}</mat-label>
                                <mat-select [formControlName]="_ctrl.key" (valueChange)="promoChanged($event, _ctrl)" >
                                    <mat-option *ngFor="let opt of getCategories(_ctrl)" [value]="opt.value">
                                        {{opt.name}}
                                    </mat-option>
                                </mat-select>
                              </mat-form-field>
                    </ng-container>
                    <ng-container *ngSwitchCase="'img'">
                        <app-file-upload [control]="_ctrl.control" [previewUrl]="previewUrl" (uploaded)="onUpload($event)" ></app-file-upload>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        <mat-form-field class="w-full">
                            <mat-label>{{_ctrl.name}}</mat-label>
                            <input matInput [placeholder]="_ctrl.name" [formControlName]="_ctrl.key" [name]="_ctrl.key"
                                [type]="_ctrl.type">
                        </mat-form-field>
                        <mat-error *ngIf="_ctrl.control?.errors">
                            <span *ngIf="_ctrl?.control?.errors?.['required']">
                                {{_ctrl.name}} est requis
                            </span>
                            <span *ngIf="_ctrl?.control?.errors?.['senegalPhone']">
                                {{_ctrl.name}} n'est pas valide
                            </span>
                        </mat-error>
                    </ng-container>
                </ng-container>

            </div>
            <app-reusable-button [isDisabled]="form.invalid" [isSubmit]="true" [btnText]="'Ajouter'"
                [isPrincipal]="true" />
        </form>
    </div>
</div>