<div class="w-screen p-3 bg-amber-500 text-slate-950 flex items-center justify-between">
    <h1>Edacy Admin</h1>
    <div class="space-x-2">
        <a routerLink="produits" routerLinkActive="underline text-white" class="text-slate-900 underline  hover:text-white cursor-pointer">Produits</a>
        <a routerLink="services" routerLinkActive="underline text-white" class="text-slate-900 hover:text-white cursor-pointer">Services</a>
        <a routerLink="commandes" routerLinkActive="underline text-white"  class="text-slate-900 hover:text-white cursor-pointer">Commandes</a>
        <app-resuable-button (click)="logout()" [btnText]="'LOG OUT'" />
    </div>
</div>
<router-outlet></router-outlet>