<div class="grid-container">
  <div class="grid-item">
    <div [class.product-card]="true" >
      <img [src]="produit.image" [alt]="produit.name">
      <div class="product-card-body">
        <h3 class="product-card-title">
          {{ produit.name }}
        </h3>

        <span *ngIf="isPromo(produit);else noPromo" class="promo-badge">Promo: {{ produit.promoVal }}% Off</span>
        <ng-template #noPromo>
          <span>No Promo</span>
        </ng-template>
        
        <span class="product-card-price">
          {{ produit.price }} CFA
        </span>
        <div>
        </div>
      </div>
    </div>
</div>