<app-search [placeholderMessage]="message" (searched)="filtrerProduits($event)">
</app-search>
<div class="grid-container">
  <div class="grid-item" *ngFor="let prd of produits;" >
    <div [class.product-card]="true" >
      <img [src]="prd.image" [alt]="prd.name">
      <div class="product-card-body">
        <h3 class="product-card-title">
          {{ prd.name }}
        </h3>
        <span *ngIf="isPromo(prd);else noPromo" class="promo-badge">Promo: {{ prd.promoVal }}% Off</span>
        <ng-template #noPromo>
          <span>No Promo</span>
        </ng-template>
        
        <span class="product-card-price">
          {{ prd.price }} CFA
        </span>
        <app-resuable-button (buttonClicked)="addToCart(prd)" ></app-resuable-button>
      </div>
    </div>
</div>
